# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\王浩学习资料\tank-c73612128ed25506e1708717983de238b301e07f\tank\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
